# Ignore everything.
**

# But include these files...
!.gitignore
!LICENSE
!README.md

# ... and these files under the 'gateway' directory...
!gateway/
gateway/*
!gateway/.dockerignore
!gateway/Dockerfile-dev
!gateway/Dockerfile-prod
!gateway/package.json
!gateway/package-lock.json
# ... and these directories...
!gateway/src
gateway/src/*
!gateway/src/index.js
#
!gateway/src/views
gateway/src/views/*
!gateway/src/views/history.hbs
!gateway/src/views/play-video.hbs
!gateway/src/views/upload-video.hbs
!gateway/src/views/video-list.hbs
#
!gateway/public
gateway/public/*
#
!gateway/public/css
gateway/public/css/*
!gateway/public/css/app.css
!gateway/public/css/tailwind.min.css
#
!gateway/public/js
gateway/public/js/*
!gateway/public/js/upload.js

# ... and these files under the 'video-storage' directory...
!video-storage/
video-storage/*
!video-storage/.dockerignore
!video-storage/Dockerfile-dev
!video-storage/Dockerfile-prod
!video-storage/package.json
!video-storage/package-lock.json
# ... and these directories...
!video-storage/src
video-storage/src/*
!video-storage/src/index.js

# ... and these files under the 'video-streaming' directory...
!video-streaming/
video-streaming/*
!video-streaming/.dockerignore
!video-streaming/Dockerfile-dev
!video-streaming/Dockerfile-prod
!video-streaming/package.json
!video-streaming/package-lock.json
# ... and these directories...
!video-streaming/src
video-streaming/src/*
!video-streaming/src/index.js

# ... and these files under the 'history' directory...
!history/
history/*
!history/.dockerignore
!history/Dockerfile-dev
!history/Dockerfile-prod
!history/package.json
!history/package-lock.json
# ... and these directories...
!history/src
history/src/*
!history/src/index.js

# ... and these files under the 'video-upload' directory...
!video-upload/
video-upload/*
!video-upload/.dockerignore
!video-upload/Dockerfile-dev
!video-upload/Dockerfile-prod
!video-upload/package.json
!video-upload/package-lock.json
# ... and these directories...
!video-upload/src
video-upload/src/*
!video-upload/src/index.js

# ... and these files under the 'metadata' directory...
!metadata/
metadata/*
!metadata/.dockerignore
!metadata/Dockerfile-dev
!metadata/Dockerfile-prod
!metadata/package.json
!metadata/package-lock.json
# ... and these directories...
!metadata/src
metadata/src/*
!metadata/src/index.js

# ... and these files under the 'terraform-scripts' directory...
!tf-cluster/
tf-cluster/*
!tf-cluster/data.tf
!tf-cluster/pri-microservices.tf
!tf-cluster/pub-microservices.tf
!tf-cluster/mongodb.tf.old
!tf-cluster/providers.tf
!tf-cluster/rabbitmq.tf.old
!tf-cluster/resource-group.tf
!tf-cluster/tekton.yaml
!tf-cluster/tekton_Copy.yaml
!tf-cluster/variables.tf
!tf-cluster/variables_no_push.tf.template
# ... and this directory...
!tf-cluster/cluster_config/
tf-cluster/cluster_config/*
!tf-cluster/cluster_config/.gitkeep
# ... and these directories...
!tf-cluster/modules/
tf-cluster/modules/*
!tf-cluster/modules/pri-microservice/
tf-cluster/modules/pri-microservice/*
!tf-cluster/modules/pri-microservice/main.tf
# ... and these directories...
!tf-cluster/modules/
tf-cluster/modules/*
!tf-cluster/modules/pub-microservice/
tf-cluster/modules/pub-microservice/*
!tf-cluster/modules/pub-microservice/main.tf

# ... and these files under the 'tf-storage' directory...
!tf-storage/
tf-storage/*
# ... and this directory...
!tf-storage/ibm-cos/
tf-storage/ibm-cos/*
!tf-storage/ibm-cos/data.tf
!tf-storage/ibm-cos/providers.tf
!tf-storage/ibm-cos/resource-group.tf
!tf-storage/ibm-cos/variables_no_push.tf.template

# ... and these files under the 'rabbitmq' directory...
!rabbitmq/
rabbitmq/*
!rabbitmq/.dockerignore
!rabbitmq/Dockerfile-prod
!rabbitmq/rabbitmq.conf
