# Ignore everything.
**

# But include these files...
!.gitignore
!LICENSE
!README.md

# ... and these files under the 'video-streaming' directory...
!video-streaming/
video-streaming/*
!video-streaming/.dockerignore
!video-streaming/Dockerfile-dev
!video-streaming/Dockerfile-prod
!video-streaming/package.json
!video-streaming/package-lock.json
# ... and these directories...
!video-streaming/src
video-streaming/src/*
!video-streaming/src/index.js
